body {
    background-image: url("../images/BackgroundWaves.png");
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 80vh;
}

/*Stop model growing past end of the page*/
.modal-body {
    max-height: 80vh;
    overflow-y: auto;
}

.Logo {
    max-width: 400px;
}

.LogoHeader {
    max-width: 200px;
}

.btn-primary {
    background-color: #2e6b43;
    border-color: #2e6b43;
}

    .btn-primary:hover {
        background-color: #65ad7f;
        border-color: #2e6b43;
    }

    .btn-primary a:link,
    .btn-primary a:active,
    .btn-primary a:visited {
        background-color: #2e6b43;
        border-color: #2e6b43;
    }

    .btn-primary a:hover {
        background-color: #65ad7f;
        border-color: #2e6b43;
    }

.btn-outline-primary {
    border-color: #2e6b43;
    color: #2e6b43;
}

    .btn-outline-primary:hover {
        background-color: #2e6b43;
        border-color: #65ad7f;
    }

    .btn-outline-primary a:link,
    .btn-outline-primary a:active,
    .btn-outline-primary a:visited {
        border-color: #2e6b43;
        color: #2e6b43;
    }

    .btn-outline-primary a:hover {
        background-color: #2e6b43;
        border-color: #65ad7f;
    }

.alert-primary {
    background-color: #cbe8d5;
    border-color: #46af6b;
}

ul.nav-tabs > .nav-item > button.nav-link {
    color: #2e6b43;
}

    ul.nav-tabs > .nav-item > button.nav-link:hover {
        color: #65ad7f;
    }

.bd-callout-VM {
    border-left-color: #2e6b43 !important;
}

    .bd-callout-VM h4 {
        color: #2e6b43;
    }

.bd-callout-VM-blue {
    border-left-color: #84b9e5 !important;
}

.bd-callout-VM-green {
    border-left-color: #b7d432 !important;
}

.bd-callout-VM-yellow {
    border-left-color: #dbca21 !important;
}

.bd-callout-VM-teal {
    border-left-color: #88cdaa !important;
}

.bd-callout-VM-warning {
    border-left-color: #FF6F00 !important;
}

.bd-callout-VM-success {
    border-left-color: #1B5E20 !important;
}

.TableArea {
    background-color: #e8f5ed;
    /*z-index: -1;*/ /*Fix for elements showing in front of toast*/ 
}

.table-responsive {
    min-height: 200px;
    max-height: 46vh;
    min-width: 100%;
}

    .table-responsive th {
        position: sticky;
        top: 0;
        z-index: 10;
    }

.WhiteBackground {
    background-color: #FFFFFF;
}

.GreyBackground {
    background-color: #F5F5F5;
}

.GreyHeader {
    background-color: #CCCCCC;
}

.BackgroundEffect {
    background-image: url("../images/LinesCircuit.jpg");
    background-repeat: repeat;
    background-color: #000034;
}

.Text {
    background-color: #FFFFFF;
    padding: 5px;
}

.TextYes {
    background-color: #198754;
    color: #FFFFFF;
}

.TextNo {
    background-color: #dc3545;
    color: #FFFFFF;
}

.Textarea {
    background-color: #FFFFFF;
    border: 1px solid #0d6efd;
    padding: 5px;
    overflow-y: auto;
    max-height: 300px;
}

.ErrorDetails {
    max-height: 240px;
    background-color: #CCCCCC;
}

.YesNoButton {
    min-width: 100px;
}

.VersionText {
    /*color: #CCCCCC;*/ 
    color: #555555;
    font-size: 0.8em;
}

.Outdated {
    /*color: #CCCCCC;*/
    color: #dc3545;
}

/*Remove right gap*/
.quickgrid th .col-header-content {
    padding-right: 0px !important;
}

/*Ensure empty cells are clickable*/
.quickgrid td .col-justify-start div {
    min-height: 1.8em;
}

/*td:has(div[class='bg-info']) {
    background-color: #198754 !important;
}*/

tr:has(td):has(div[class='SelectedRow']) td {
    /*color: #052c65;
    background-color: #cfe2ff;*/
    color: #2e6b43;
    background-color: #cbe8d5;
}

tr:has(td):has(div[class='DisabledRow']) td {
    color: #666666;
}

tr:has(td):has(div[class='ErrorRow']) td {
    color: #b71c1c;
}

.TableContainer .search-box {
    min-width: 200px;
}

.TableContainer .col-sort-asc .sort-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M183.6 42.4C177.5 35.8 169 32 160 32s-17.5 3.8-23.6 10.4l-88 96c-11.9 13-11.1 33.3 2 45.2s33.3 11.1 45.2-2L128 146.3 128 448c0 17.7 14.3 32 32 32s32-14.3 32-32l0-301.7 32.4 35.4c11.9 13 32.2 13.9 45.2 2s13.9-32.2 2-45.2l-88-96zM320 320c0 17.7 14.3 32 32 32l50.7 0-73.4 73.4c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8l128 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-50.7 0 73.4-73.4c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8l-128 0c-17.7 0-32 14.3-32 32zM416 32c-12.1 0-23.2 6.8-28.6 17.7l-64 128-16 32c-7.9 15.8-1.5 35 14.3 42.9s35 1.5 42.9-14.3l7.2-14.3 88.4 0 7.2 14.3c7.9 15.8 27.1 22.2 42.9 14.3s22.2-27.1 14.3-42.9l-16-32-64-128C439.2 38.8 428.1 32 416 32zM395.8 176L416 135.6 436.2 176l-40.4 0z"/></svg>');
    background-repeat: no-repeat;
}

.TableContainer .col-sort-desc .sort-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> <!-- !Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc. --> <path d="M183.6 469.6C177.5 476.2 169 480 160 480s-17.5-3.8-23.6-10.4l-88-96c-11.9-13-11.1-33.3 2-45.2s33.3-11.1 45.2 2L128 365.7 128 64c0-17.7 14.3-32 32-32s32 14.3 32 32l0 301.7 32.4-35.4c11.9-13 32.2-13.9 45.2-2s13.9 32.2 2 45.2l-88 96zM320 64c0-17.7 14.3-32 32-32l128 0c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9L429.3 160l50.7 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-128 0c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9L402.7 96 352 96c-17.7 0-32-14.3-32-32zm96 192c12.1 0 23.2 6.8 28.6 17.7l64 128 16 32c7.9 15.8 1.5 35-14.3 42.9s-35 1.5-42.9-14.3L460.2 448l-88.4 0-7.2 14.3c-7.9 15.8-27.1 22.2-42.9 14.3s-22.2-27.1-14.3-42.9l16-32 64-128c5.4-10.8 16.5-17.7 28.6-17.7zM395.8 400l40.4 0L416 359.6 395.8 400z"/></svg>');
    background-repeat: no-repeat;
}

.TableContainer .col-sort-asc[b-vznuo5fmpv] .sort-indicator {
    transform: none;
}

.CreatedBy {
    font-size: 0.8em;
}

.MessageArea {
    background-color: #F5F5F5;
    border: 2px solid #2e6b43;
    border-radius: 1em;
    padding: 10px;
}

.BestOffer {
    font-style: italic;
    background-color: #f44336;
}