body {
    background-image: url("../images/BackgroundWaves.png");
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

/*Stop model growing past end of the page*/
.modal-body {
    max-height: 80vh;
    overflow-y: auto;
}

.Logo {
    max-width: 400px;
}

.LogoHeader {
    max-width: 200px;
}

.btn-primary {
    background-color: #2e6b43;
    border-color: #2e6b43;
}

    .btn-primary:hover {
        background-color: #65ad7f;
        border-color: #2e6b43;
    }

    .btn-primary a:link,
    .btn-primary a:active,
    .btn-primary a:visited {
        background-color: #2e6b43;
        border-color: #2e6b43;
    }

    .btn-primary a:hover {
        background-color: #65ad7f;
        border-color: #2e6b43;
    }

.btn-outline-primary {
    border-color: #2e6b43;
    color: #2e6b43;
}

    .btn-outline-primary:hover {
        background-color: #2e6b43;
        border-color: #65ad7f;
    }

    .btn-outline-primary a:link,
    .btn-outline-primary a:active,
    .btn-outline-primary a:visited {
        border-color: #2e6b43;
        color: #2e6b43;
    }

    .btn-outline-primary a:hover {
        background-color: #2e6b43;
        border-color: #65ad7f;
    }

.alert-primary {
    background-color: #cbe8d5;
    border-color: #46af6b;
}

ul.nav-tabs > .nav-item > button.nav-link {
    color: #2e6b43;
}

    ul.nav-tabs > .nav-item > button.nav-link:hover {
        color: #65ad7f;
    }

.bd-callout-VM {
    border-left-color: #2e6b43 !important;
}

    .bd-callout-VM h4 {
        color: #2e6b43;
    }

.bd-callout-VM-blue {
    border-left-color: #84b9e5 !important;
}

.bd-callout-VM-green {
    border-left-color: #b7d432 !important;
}

.bd-callout-VM-yellow {
    border-left-color: #dbca21 !important;
}

.bd-callout-VM-teal {
    border-left-color: #88cdaa !important;
}

.bd-callout-VM-warning {
    border-left-color: #FF6F00 !important;
}

.bd-callout-VM-success {
    border-left-color: #1B5E20 !important;
}

.TableArea {
    background-color: #e8f5ed;
}

.WhiteBackground {
    background-color: #FFFFFF;
}

.GreyBackground {
    background-color: #F5F5F5;
}

.GreyHeader {
    background-color: #CCCCCC;
}

.BackgroundEffect {
    background-image: url("../images/LinesCircuit.jpg");
    background-repeat: repeat;
    background-color: #000034;
}

.Text {
    background-color: #FFFFFF;
    padding: 5px;
}

.TextYes {
    background-color: #198754;
    color: #FFFFFF;
}

.TextNo {
    background-color: #dc3545;
    color: #FFFFFF;
}

.Textarea {
    background-color: #FFFFFF;
    border: 1px solid #0d6efd;
    padding: 5px;
    overflow-y: auto;
    max-height: 300px;
}

.VersionText {
    /*color: #CCCCCC;*/ 
    color: #555555;
    font-size: 0.8em;
}

/*td:has(div[class='bg-info']) {
    background-color: #198754 !important;
}*/

tr:has(td):has(div[class='SelectedRow']) td {
    /*color: #052c65;
    background-color: #cfe2ff;*/
    color: #2e6b43;
    background-color: #cbe8d5;
}

tr:has(td):has(div[class='DisabledRow']) td {
    color: #666666;
}

tr:has(td):has(div[class='ErrorRow']) td {
    color: #b71c1c;
}